// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$base-dark: #132043;
$base-blue: #1f4172;
$base-pink: #f1b4bb;
$base-light: #fdf0f0;
@import "./node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

body {
  background-color: $base-dark;
  color: $base-dark;
}

h1, h2 {
  color: $base-pink;
}
.btn {
  color: $base-blue;
}
.btn:hover {
  background-color: $base-pink;
}


